<h1>Welcome to the Nested Forms Lab!</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  <button type="submit" value="submit">Submit</button>
</form>







<!--<h1>Make your form here</h1>-->
<!--<form method="POST" action="/pirates">-->
<!--  <h2> Pirate:</h2> -->
<!--  <label>Name:</label>-->
<!--  <input type="text" name="pirate_name"></p>-->
  
<!--  <label>Weight:</label>-->
<!--  <input type="text" name="weight"></p>-->
  
<!--  <label>Height:</label>-->
<!--  <input type="text" name="height"></p>-->
  
<!--   <h2> Ship1:</h2> -->
<!--  <label>Name:</label>-->
<!--  <input type="text" name="ship1_name"></p>-->
  
<!--  <label>Type:</label>-->
<!--  <input type="text" name="ship1_type"></p>-->
  
<!--  <label>Booty:</label>-->
<!--  <input type="text" name="ship1_booty"></p>-->
  
  
<!--    <h2> Ship2:</h2> -->
<!--  <label>Name:</label>-->
<!--  <input type="text" name="ship2_name"></p>-->
  
<!--  <label>Type:</label>-->
<!--  <input type="text" name="ship2_type"></p>-->
  
<!--  <label>Booty:</label>-->
<!--  <input type="text" name="ship2_booty"></p>-->
  
<!--  <Input type="submit" name="submit" id="submit">-->
<!--</form>-->
